<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 设置 -->
    <settings>
        <!-- 全局启用或禁用延迟加载。当禁用时，所有关联对象都会即时加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>

        <!-- 当启用时，有延迟加载属性的对象在被调用时将会完全加载任意属性。否则，每个属性将会按需要加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>

        <!-- 允许JDBC支持自动生成主键，需要数据库驱动支持 -->
        <setting name="useGeneratedKeys" value="true"/>

        <!-- 使用列标签代替列名 -->
        <setting name="useColumnLabel" value="true"/>

        <!-- 开启自动驼峰命名规则映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>

        <!-- 配置默认的执行器。SIMPLE就是普通的执行器；REUSE执行器会重用预处理语句；BATCH执行器将重用语句并执行批量更新 -->
        <setting name="defaultExecutorType" value="SIMPLE"/>

        <!-- 指定 MyBatis 所用日志的具体实现 -->
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <!-- 类型别名 -->
    <typeAliases>
        <package name="jmu.fyl.logistics.entity"/>
    </typeAliases>


</configuration>